@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

#home-page-section * {
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
}

#home-page-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

#home-page-section h1 {
    color: #FFFFFF;
    font-size: 90px;
    font-weight: 700;
}

#home-page-section h2 {
    color: #324436;
    font-size: 90px;
    font-weight: 700;
}

#home-page-section h3 {
    color: #DCDACD;
    font-size: 60px;
    font-weight: 500;
}

#home-page-section h4 {
    color: #DCDACD;
    font-size: 38px;
    font-weight: 400;
}

#home-page-section p {
    width: 1200px;
    color: #324436;
    font-size: 30px;
    font-weight: 400;
    white-space: normal;
    overflow-wrap: break-word;
    max-width: 100%;
}

#home-page-section li {
    color: #324436;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 15px;
}

.homepage-green {
    width: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: fit-content;
    padding: 40px 20px 40px 20px;
    background-color: #3B4D3F;
    background-image: url('../../../assets/shared/greenBackground.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}

.homepage-white {
    width: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 40px 20px 40px 20px;
    background-color: #F5EDEA;
    box-sizing: border-box;
}

.homepage-white a{
    color:#357B8F;
}

.icon {
    max-width: 50px;
    max-height: 50px;
}

.icon img {
    width: 22px;
    height: 22px;
}

#main-button {
    padding: 30px 60px;
    background-color: #357B8F;
    color: #FFFFFF;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    font-size: 37px;
    font-weight: 600;
}

#main-button:hover {
    background-color: #2A5E6E;
}

#do-not-card {
    width: 100rem;
    height: 35.625rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: linear-gradient(
        to bottom,
        #357B8F 3%,
        #DCDACD 3%,
        #DCDACD 17%,
        #FFFFFF 17%
    );
    padding: 30px 20px 20px 20px;
    margin: 112px 154px 112px 154px;
    gap: 20px;
    border: 1px solid #357B8F;
    border-radius: 16px;
}

@media (max-width: 1024px) {
    #do-not-card {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (max-width: 768px) {
    #do-not-card {
        margin-left: auto;
        margin-right: auto;
        height: fit-content;
    }
}

@media (max-width: 600px) {
    #do-not-card {
        background: linear-gradient(
        to bottom,
        #357B8F 5%,
        #DCDACD 3%,
        #DCDACD 22%,
        #FFFFFF 17%
    );
    }
}

#do-not-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
    gap: 20px;
}
    
#do-not-card h3 {
    font-size: 38px;
    font-weight: 600;
    color: #324436;
}

#do-not-card ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#do-not-card ul li {
    font-size: 34px;
    font-weight: 400;
}
#do-not-card img {
    width: 50px;
    height: 50px;
}

#text-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 130px;
    gap: 30px;
}

#text-section.found-animal-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 120px 165px 170px 50px;
}

#main-image {
    display: flex;
    max-width: 600px;
    max-height: 500px;
    object-fit: cover;
    margin-right: 50px;
}

@media (max-width: 1536px) {
    #main-image {
        margin-right: 50px;
    }

    #main-image img {
        margin: 20px 10px;
    }

    #text-section.found-animal-text {
        margin-left: 50px;
        margin-top: 120px;
        margin-bottom: 170px;
        margin-right: 35px;
    }
}

@media (max-width: 1440px) {
    #main-image {
        margin-right: 10px;
    }

    #homepage-green {
        min-height: fit-content;
    }
    
    #text-section.found-animal-text {
        margin-top: 75px;
        margin-bottom: 100px;
    }
}

@media (max-width: 1280px) {
    #main-image {
        margin-right: 25px;
    }

    #main-image img {
        margin: 20px 5px;
    }

    #text-section.found-animal-text {
        margin-left: 40px;
        margin-top: 75px;
        margin-bottom: 100px;
    }
}

@media (max-width: 1024px) {
    #main-image {
        height: 100%;
        margin-right: 15px;
    }

    #text-section.found-animal-text {
        margin-right: 15px;
        margin-left: 35px;
        margin-top: 75px;
        margin-bottom: 100px;
    }
}

@media (max-width: 768px) {
    #main-image {
        display: none;
    }

    #text-section.found-animal-text {
        margin-bottom: 20px;
        margin-right: 15px;
        margin-top: 75px;
        margin-bottom: 100px;
    }
}

#main-image img {
    width: 450px;
    height: auto;
    max-width: 600px;
    border-radius: 16px;
    object-fit: cover;
    margin: 20px 20px;
}

#link-white {
    display: inline-flex;
    align-items: center;
    width: fit-content;
    gap: 8px;
    border-bottom: 1px solid #DCDACD;
}

#link-white a {
    color: #DCDACD;
    font-size: 34px;
    font-weight: 400;
    text-decoration: none;
}

#link-green {
    display: inline-flex;
    align-items: center;
    width: fit-content;
    gap: 8px;
    border-bottom: 1px solid #324436;
}

#link-green a {
    color: #324436;
    font-size: 35px;
    font-weight: 500;
    text-decoration: none;
}

#link-green img, #link-white img {
    width: 30px;
    height: 30px;
}

#help-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: fit-content;
    padding: 0 20px 0 20px;
    box-sizing: border-box;
}

#home-page-section .help-title {
    margin-top: 82px;
    text-align: center;
}

#home-page-section.homepage-help-section {
    background-image: url('../../../assets/shared/greenBackground.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 1100px;
    background-color: #3b4d3f;
    position: relative;
    box-sizing: border-box;
}

#home-page-section .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 3.75rem 0 5rem 0;
    gap: 40px;
}

#home-page-section .card-title {
    font-size: 38px;
    font-weight: 600;
    color: #324436;
}

#home-page-section .card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 530px;
    height: 400px;
    padding: 60px 40px;
    gap: 20px;
    background-color: #F5EDEA;
    border-radius: 16px;
    object-fit: cover;
}

#button-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
    margin-bottom: 110px;
}

#page-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #DCDACD;
    color: #324436;
    border: none;
    padding: 20px 40px;
    margin-top: 20px;
    gap: 20px;
    border-radius: 16px;
    cursor: pointer;
    font-size: 37px;
    font-weight: 500;
}

#page-button img {
    width: 70px;
    height: 50px;
}